# App artifacts
/_build
/config/dev.exs
/deps
/doc
/lib/application.ex

# Erlang logs
/log

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

.idea/**
.vscode/
projectFilesBackup/

twig.yml

VERSION
.elixir_ls
log/
.tokens
.iex.exs
